:root {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: rgb(245, 245, 247);
  background-color: rgb(40, 40, 41);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  color: rgb(245, 245, 247);
}

h2 {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

small,
.text-small {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.56);
}

a {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #e8e8ed;
  text-decoration: none;
  transition: color 180ms ease;
}

a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(40, 40, 41);
  color: rgba(255, 255, 255, 0.95);
}

button {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.global-link {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  transition: color 180ms ease;
  color: #e8e8ed !important;
  text-decoration: none !important;
}

.global-link:hover,
.global-link:focus,
.global-link:active {
  color: #ffffff !important;
  text-decoration: none !important;
}